.footer {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 0 31px;

  @media (min-width: $tablet-width) {
    padding: 25px 15px 25px 8px;
  }
}

.footer__copyright {
  margin: 33px 0 31px;

  @media (min-width: $tablet-width) {
    margin: 60px 0 0;
  }
}

.footer__social-list {
  width: 120px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 120px;
  }

  @media (min-width: $tablet-width-footer) {
    margin-left: 375px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 470px;
  }
}

.footer__social-svg {
  fill: var(--green);
}

.footer__button {
  width: 190px;
  height: 45px;
  margin: 42px auto 22px;

  @media (min-width: $tablet-width) {
    margin: 0 0 auto 50px;
  }
}

.footer__confidentiality {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 60px 0 0;
  }
}
