$tablet-width-only: 618px;
$tablet-width: 768px;
$tablet-width-footer: 1006px;
$desktop-width: 1200px;
$desktop-width-only: 1440px;

:root {
  --white: #ffffff;
  --white-0: rgba(255, 255, 255, 0);
  --black: #000000;
  --black-3: #333333;
  --black-90: rgba(51, 51, 51, 0.9);
  --black-form: #3a3a3a;
  --special-black: #444444;
  --black-20: rgba(0, 0, 0, 0.2);
  --greey-dark: #6a6a6a;
  --green: #00793a;
  --green-border: #01793b;
  --grey: #f0f0f0;
}

$font-oswald: "Oswald", "Arial", sans-serif;
$font-roboto: "Roboto", "Arial", sans-serif;

tbody,
td,
tfoot,
th,
thead,
tr {
  padding: 0;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-roboto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.table > :not(caption) > * > * {
  padding: 0;
}

h1 {
  margin-bottom: 30px;
  margin-right: 50px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width-only) {
    width: 490px;
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 50px;
  }
}

h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  font-family: $font-oswald;
  color: var(--black);
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  font-family: $font-roboto;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  font-family: $font-roboto;
}

.form-label {
  margin-bottom: 6px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.bg-grey {
  background: var(--grey);
}

$border-green: 2px solid var(--green-border);

$shadow-20: 0 0 50px var(--black-20);

$gradient-bg: linear-gradient(180deg, var(--greey-dark) 0%, var(--black) 100%);
$gradient-bg-form: linear-gradient(75deg, var(--green) 57%, var(--black) 57%);
$gradient-bg-form-lg: linear-gradient(75deg, var(--green) 44%, var(--black) 44%);

.btn-success {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-roboto;
  background: var(--green);
  color: var(--white);

  &:hover,
  &:focus {
    background: $white;
    color: var(--green);
  }
}
